:root {
	--background-color: #21222c;
	--background-color-alt: #282a36;
	--background-color-alt-2: #343746;
	--background-color-alt-3: #3d3d4f;

	--text-color: #fff;
	--text-color-alt: #ccd;
	--text-color-dark: #556;

	--anchor-color: #3da1ff;

	--caret-color: #fff;

	--default-font: sans-serif;
	--monospace-font: 'Consolas', 'Monaco', monospace;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--background-color-alt: #f8f8f8;
		--background-color-alt-2: #f2f2f2;
		--background-color-alt-3: #e8e8e8;

		--text-color: #000;
		--text-color-alt: #666;
		--text-color-dark: #333;

		--anchor-color: #3da1ff;
	}
}

html {
	height: 100%;
}

body {
	font-family: var(--default-font);
	margin: 0;
	background-color: var(--background-color);
	color: var(--text-color);
	height: 100%;
	caret-color: var(--caret-color);
}

a {
	color: var(--anchor-color);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

button {
	cursor: pointer;
}

input {
	background-color: var(--background-color-alt);
	border: 1px solid var(--background-color-alt-3);
	border-radius: 0.25em;
	font-size: 0.85em;
	color: var(--text-color);
	height: 2em;
	padding: 0.5em;
}

textarea:focus,
input:focus {
	outline: none;
	border: 1px solid var(--background-color-alt-3);
}

button {
	border: 1px solid var(--background-color-alt-2);
	background-color: var(--background-color-alt);
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	color: var(--text-color);
	cursor: pointer;
	touch-action: manipulation;
}

button:hover {
	border: 1px solid var(--background-color-alt-3);
}

select {
	background-color: var(--background-color-alt);
	border: 1px solid var(--background-color-alt-3);
	border-radius: 0.25em;
	font-size: 0.85em;
	color: var(--text-color);
	height: 2em;
	/* padding: 0.5em; */
}

/* remove the shadows safari adds to textareas */
textarea {
	box-shadow: none;
	-webkit-appearance: none;
}

hr {
	/* border is required for safari support */
	border: 1px solid var(--background-color-alt-3);
	color: var(--background-color-alt-3);
	margin: 1em auto;
	width: calc(100% - 0.5em);
}

p {
	margin: 0;
	margin-bottom: 0.5em;
}
